<h1>カロリー計算結果</h1>

<% if @selected_ingredients.any? %>
  <ul>
    <% @selected_ingredients.each do |ingredient| %>
      <li><%= ingredient.name %>: <%= ingredient.calories %> kcal</li>
    <% end %>
  </ul>

  <p><strong>合計カロリー:</strong> <%= @total_calories %> kcal</p>
<% else %>
  <p>具材が選択されていません。</p>
<% end %>

<%= link_to "再選択する", root_path, class: "button" %>